
body{
    font-size: 15px;
    background-image: url("pasza.jpg");
    background-repeat: no-repeat;
    background-size: 105% 25%;
    }
    .main-container{
        width: 100%;
        max-height: 100%;
        max-width:1240px ;
        margin: 0px auto;
        font-size: 1em;
    }
    
.img-logo{
    width: 12%;
    height: 10%;
    position: relative;
   right:26%;
   top: 12px;
}

    #text{
        position:relative;
       right:8%;
        bottom: 30px;
        background-attachment: fixed;
    
    }
    
    main{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }

.box1{ background-color: rgb(255, 255, 255);
    border-color: white solid 2px;
    border-radius: 10px;
    box-shadow: slategrey 1px  1px  2px  ;
    width: 330px;
    height: 215px;
position: relative;
left:5%;
bottom:17%;

}
.box1:hover{
    background-color: rgb(255, 110, 219);
}
#goft{border-radius:100%;
   max-width:65%;
    max-height: 31%;
    margin-left: 120px;
margin-top: 9px;

}
#p1{color: rgb(0, 0, 0);
font-size:1em;
text-align: center;
font-weight:bold;
}
#p1-2{text-align:center;
}



.box2{ background-color:  rgb(255, 255, 255);
    border-color: white solid 2px;
    border-radius: 10px;
    box-shadow:  slategrey 1px  1px  2px;
    width: 330px;
    height: 215px;
position: relative;
right:250%;
bottom:17%;

   }
.box2:hover{
    background-color: rgb(255, 110, 219);
}
#gof{border-radius:100%;
   max-width:72%;
    height:65px;
    margin-left: 120px;
margin-top: 9px;

}
#p2{color: rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
font-weight:bold;
    
}
#p2-2{text-align:center;
    opacity: 60%;
}




.box3{ background-color:rgb(255, 255, 255);
    border-color: white solid 2px;
    border-radius: 10px;
    box-shadow:  slategrey 1px  1px  2px  ;
    width: 325px;
    height: 215px;
position: relative;
right:241%;
bottom:18%;

   }
.box3:hover{
    background-color: rgb(255, 110, 219);
}
#go{border-radius:100%;
   max-width:70%;
    height:65px;
    margin-left: 120px;
margin-top: 9px;

}
#p3{color: rgb(0, 0, 0);

    font-size: 1em;
    text-align: center;
    font-weight:bold;
    
}
#p3-2{text-align:center;
}

.content{
    padding: 2px;
}

main section .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



.box4{ background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 50%;
    max-width: 40%;
    max-height:30%;
position: relative;
right: 30px;
bottom:1%;
   }

#donaf{border-radius: 50%;
    max-width:100%;
    max-height:100%;


}

.box5{ background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
margin-left: 750px;
position: relative;
bottom:18%;
right:5%;

   }
   #p5{color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    font-weight:bold;
    
}
#p5-2{text-align:left;
    font-size: 15px;
   color:rgb(0, 0, 0);
   filter: opacity(90%);
}




.box6{ background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
margin-left:100px;
position: relative;
bottom:18%;
right:10%;


   }
   #p6{color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    font-weight:bold;
    
}
#p6-2{text-align:left;
    font-size: 15px;
   color:rgb(0, 0, 0);
   filter: opacity(90%);
}




.box7{ background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 10%;
    max-width:30%;
    max-height:20%;
position: relative;
left:60%;
bottom:45%;

   }

#pish{border-radius: 10%;
    max-width:80%;
    max-height:80%;

}



/*media qurey*/

@media screen and (max-width:1240px){

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
  main section .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    }

    @media screen and (max-width:900px){
   
    main .menu{
        display: none;
    
    }
    main{
        grid-template-columns:1fr 1fr 1fr ;
    }
    main section .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    header ul .menu{
        flex-direction: column;
    }
    header menu,.menu ul,.menu li,.menu a{
        margin-top: 10px;
        text-align: center;
    }
    .main-container{
        font-size:1em;
    }

}

