
body{background-image: url("paszamineh1.jpg");
    background-repeat: no-repeat;
    
    }


    
.box1{ background-color: rgb(255, 255, 255);
    border-color: white solid 2px;
    border-radius: 10px;
    box-shadow: slategrey 1px  1px  2px  ;
    width: 320px;
    height: 210px;
position: relative;
left: 200px;
top: 20px;

}
.box1:hover{
    background-color: rgb(255, 110, 219);
}
#goft{border-radius:210px;
   max-width:65%;
    max-height: 31%;
    margin-left: 120px;
margin-top: 9px;

}
#p1{color: rgb(0, 0, 0);
font-size: 15px;
text-align: center;
font-weight:bold;
}
#p1-2{text-align:center;
}



.box2{ background-color:  rgb(255, 255, 255);
    border-color: white solid 2px;
    border-radius: 10px;
    box-shadow:  slategrey 1px  1px  2px;
    width: 320px;
    height: 210px;
position: relative;
left: 550px;
bottom:190px;

   }
.box2:hover{
    background-color: rgb(255, 110, 219);
}
#gof{border-radius:220px;
   max-width:72%;
    height:65px;
    margin-left: 120px;
margin-top: 9px;

}
#p2{color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
font-weight:bold;
    
}
#p2-2{text-align:center;
}




.box3{ background-color:rgb(255, 255, 255);
    border-color: white solid 2px;
    border-radius: 10px;
    box-shadow:  slategrey 1px  1px  2px  ;
    width: 320px;
    height: 210px;
position: relative;
left: 900px;
bottom:400px;

   }
.box3:hover{
    background-color: rgb(255, 110, 219);
}
#go{border-radius:220px;
   max-width:70%;
    height:65px;
    margin-left: 120px;
margin-top: 9px;

}
#p3{color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-weight:bold;
    
}
#p3-2{text-align:center;
}
